header
  .wrapper.col-xl-9.col-lg-10.col-md-11.col-12.m-auto.container
    nav.navbar.navbar-expand-lg.navbar-dark.static-top
      .container
        a.navbar-brand(href='#')
          img(src='img/logo.png' alt='Sea Trips логотип' height='36')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto              
            li.nav-item
              a.nav-link(href='/') ГОловна   
            li.nav-item
              a.nav-link(href="#") послуги
            li.nav-item
              a.nav-link(href="#") про компанію
            li.nav-item
              a.nav-link(href="#") Акції
            li.nav-item
              a.nav-link(href="#") Партнери
            li.nav-item
              a.nav-link(href="#")  відгуки
            li.nav-item
              a.nav-link(href="#")  Контакти
    .header-content.py-5
      h1 Морські пригоди
      p.col-12.col-md-6.col-lg-5.m-auto.mb-4 Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
      +button("детальніше", "#", "button")
    .header-end.m-auto.col-12.col-sm-7.col-lg-6.col-xl-5.col-xxl-5.px-4
      p.your-plan обери свій план подорожі
      p.our-company Наша фірма -лідер на ринку у своїй сфері
      a(href="#card") 
        <svg class="icon double-arrow">
          <use xlink:href="#double-arrow"></use>
        </svg>